* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
}

code {
    font-family: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.top-nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.top-nav .logo {
    width: 120px;
}
.top-nav-menu {
    padding-top: 17px;
    text-align: right;
}
.top-nav a {
    color: #000;
}

.page-heading {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.page-heading > h1 {
    margin-bottom: 0;
    font-size: 2rem;
}

.footer {
    border-top: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 50px 0;
}
.footer .logo {
    width: 100px;
}
.footer a {
    color: #000;
}

.progress {
    border-radius: 0;
}
.progress-bar {
    background-color: #ff00ff;
}
.progress-bar-striped {
    background-image: linear-gradient(
        45deg,
        rgb(255, 255, 255) 25%,
        transparent 25%,
        transparent 50%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 75%,
        transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.alert-info {
    color: #000;
    background-color: #ffffb6;
    border: 2px dashed #000;
}

code {
    color: #4a15dd;
    font-weight: bold;
    font-size: 95%;
}

@media (max-width: 767.98px) {
    .top-nav .logo {
        width: 100px;
    }
    .top-nav-menu {
        padding-top: 12px;
    }
}

/* --- Playground --- */

.tabs {
    position: relative;
    border-bottom: 2px dashed #ddd;
}
.tabs > .row {
    overflow-x: auto;
}
.tabs > .row > .col-12 {
    min-width: 600px;
}
@media (max-width: 600px) {
    .tabs {
        padding-right: 16px
    }
    .tabs::after {
        content: " ";
        position: absolute;
        z-index: 1;
        width: 15px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: -10px 0 8px rgba(255, 255, 255, 0.8);
    }
}
.nav-pills .nav-link {
    font-weight: 600;
    font-size: 0.9rem;
    color: #000;
    background-color: #f6f6f6;
    border: 2px solid #ddd;
    border-bottom-width: 3px;
    padding: 4px 10px;
    margin: 4px 4px;
}
.nav-pills .nav-link:hover {
    background-color: #ddd;
    border-color: #000;
}
.nav-pills .nav-link.active {
    background-color: #0ff;
    border-color: #000;
    color: #000;
}
.nav-pills .nav-link.active:hover {
    cursor: default;
}

/* --- Codemirror --- */

.cm-editor {
    border: 1px solid #ddd;
    max-height: 300px;
    border-radius: .25rem;
}
.cm-editor.cm-focused {
    border-color: #333;
    outline: 0 !important;
}
.cm-editor .cm-scroller {
    overflow: auto;
    font-family: 'IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    font-size: 0.9rem;
}
.cm-gutters {
    border-radius: .25rem 0 0 0.25rem;
}
.cm-editor .cm-activeLineGutter {
    background-color: #d6f3f3;
}
.cm-editor .cm-activeLine {
    background-color: #e9ffff;
}
.cm-lintPoint-error {
    pointer-events: none;
}
.cm-readonly .cm-editor.cm-focused {
    border-color: #ddd;
}
.cm-readonly .cm-cursor {
    display: none !important
}

/* --- React JSON Form --- */

.rjf-form-wrapper {
    /*font-family: "IBM Plex Sans", "Helvetica", "Helvetica Neue", "Archivo", 
        "FreeSans", "Roboto", "Open Sans", sans-serif;*/
    font-size: 0.9rem;
}
label {
    display: block;
    font-size: 0.9rem;
    width: 8rem;
    float: left;
    margin-top: 0.25rem;
}
.rjf-check-input label {
    width: auto;
    float: none;
}
input, textarea, select {
    display: block;
    width: 100%;
    min-width: 8rem;
    padding: .25rem .5rem;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus, textarea:focus, select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f0f;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 255, 0.18);
}
input:disabled, input[readonly],
textarea:disabled, textarea[readonly],
select:disabled, select[readonly] {
    background-color: #f2f2f2;
    opacity: 1;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: auto;
    min-width: 0;
    vertical-align: middle;
}
fieldset {
    border: none;
}
button[class^="rjf-"] {
    padding: 3px 6px;
    color: #000;
    background-color: #f6f6f6;
    border: 2px solid #ddd;
    border-radius: 4px;
}
button[class^="rjf-"]:hover {
    color: #000;
    background: #eee;
    border-color: #aaa;
}

button[class^="rjf-"] {
    font-weight: 600;
    font-size: 0.9rem;
    color: #000;
    background-color: #f6f6f6;
    border: 2px solid #ddd;
    border-bottom-width: 3px;
    padding: 4px 10px;
}
button[class^="rjf-"]:hover {
    background-color: #ddd;
    border-color: #000;
}
button.rjf-edit-button {
    width: 2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    text-indent: -100px;
    overflow: hidden;
    line-height: 1.2;
}
button.rjf-edit-button:hover {
    color: #000;
    background-color: #0ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
button.rjf-add-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 25px;
}
button.rjf-add-button:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 5px center;
}
.rjf-help-text {
    font-size: 88%;
    color: #777;
    display: block;
    margin-top: 0.2rem;
}
.rjf-form-row {
    margin-bottom: 15px;
    position: relative;
    display: table;
    width: 100%;
}
.rjf-form-row-inner {
    display: table;
    width: 100%;
    padding: 5px;
    transition: background-color 0.12s ease-in-out;
}
.rjf-form-row-inner > div::after {
    display: block;
    clear: both;
    content: "";
}
.rjf-form-group-wrapper {
    position: relative;
}
.rjf-form-group-title {
    font-weight: bold;
    margin-bottom: 15px;
    color: #666;
}
.rjf-form-group {
    margin-bottom: 15px;
    position: relative;
    transition: background-color 0.12s ease-in-out;

    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    position: relative;
}
.rjf-form-group-inner > .rjf-form-group > .rjf-form-group-inner {
    margin-top: 15px;
    margin-bottom: 0;
}
.rjf-form-row-controls {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    z-index: 2;
    border-radius: 3px; /* same as child button */
}
.rjf-form-row > .rjf-form-row-controls {
    top: 50%;
    transform: translateY(-50%);
}
.rjf-form-row-controls:hover + .rjf-form-row-inner,
.rjf-form-row-controls:hover + .rjf-form-group {
    background-color: #fffedd;
}
.rjf-form-row-controls button {
    position: relative;
    color: #333;
    background-color: #fff;
    padding: 0.3rem 0.58rem;
    margin-left: -2px;
    text-align: center;
    line-height: 1;
    border: 2px solid #ddd;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.12s ease-in-out,
                border-color 0.12s ease-in-out,
                color 0.12s ease-in-out;
}
.rjf-form-row-controls > button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rjf-form-row-controls > button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rjf-form-row-controls button:hover {
    background-color: #fff;
    border-color: #333;
    z-index: 1;
}
.rjf-form-row-controls .rjf-remove-button {
    color: #ff006c;
    background-color: #fff4f8;
    border-color: #e7cad6;
}
.rjf-form-row-controls .rjf-remove-button:hover {
    color: #ff006c;
    border-color: #ff006c;
}
.rjf-form-row-controls button span {
    pointer-events: none;
}
.rjf-input-group,
.rjf-file-field {
    display: block;
    float: left;
}
.rjf-form-text {
    display: block;
    font-size: 0.88em;
    color: #777;
    margin-top: 8px;
}
.rjf-current-file-name {
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.rjf-current-file-name span {
    display: inline-block;
    vertical-align: bottom;
    background-color: #eee;
    padding: 0 4px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rjf-loader {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 20px auto;
    display: inline-block;
    margin: 0;
    margin-right: 0.25em;
    height: 1em;
    width: 1em;
    vertical-align: middle;;
    border: 2px #fcf solid;
    border-top-color: #f0f;
    border-radius: 50%;
    -webkit-animation: loaderRotate .4s infinite linear;
    animation: loaderRotate .4s infinite linear;
}

@-webkit-keyframes loaderRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rjf-animate {
    transition: all 0.2s ease-in-out;
}
.rjf-remove {
    opacity: 0;
    transform: translateX(10px);
}

.rjf-icon {
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
}

.rjf-datetime-field {
    position: relative;
}
.rjf-datetime-field-inner {
    float: left;
}
.rjf-datetime-field-inner label {
    display: block;
    float: none;
}
.rjf-datetime-field-inner .rjf-input-group {
    float: none;
}
.rjf-datetime-field-date {
    float: left;
    width: 50%;
    padding-right: 10px;
}
.rjf-datetime-field-time {
    float: left;
    width: 50%;
}
.rjf-datetime-field-time input[readonly] {
    background-color: #fff;
}

.rjf-time-picker {
    width: 300px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}
.rjf-time-picker input {
    max-width: 100%;
    text-align: center;
    font-size: 0.9rem;
    padding: 2px 2px;
    outline: 0;
}
.rjf-time-picker-row {
    margin-left: -5px;
    margin-right: -5px;
}
.rjf-datetime-field-inputs::after,
.rjf-time-picker-row::before,
.rjf-time-picker-row::after {
    clear: both;
    content: " ";
    display: table;
}
.rjf-time-picker-col {
    display: block;
    float: left;
    padding: 0 5px;
    width: 20%;
    min-height: 1px;
}
.rjf-time-picker-col-sm {
    width: 6.666667%;
    padding: 0;
}
.rjf-time-picker button {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #666;
    border: 1px solid transparent;
    line-height: 1;
    font-size: 1rem;
    cursor: pointer;
}
.rjf-time-picker button:hover {
    color: #000;
    background-color: #eee;
    border-color: #ccc;
}
.rjf-time-picker-labels {
    text-align: center;
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.rjf-time-picker-values {
    font-size: 1.1rem;
    text-align: center;
}

.rjf-multiselect-field {
    position: relative;
}
.rjf-multiselect-field > div::after {
    display: block;
    clear: both;
    content: "";
}
.rjf-multiselect-field-input {
    cursor: pointer;
    padding-right: 28px !important;
    background-color: #fff !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23777777' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 16px 12px;
}
.rjf-multiselect-field-options-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 300px;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.12);
    max-height: 187px;
    overflow: auto;
    z-index: 100;
}
.rjf-multiselect-field-option.disabled {
    color: #999;
}
.rjf-multiselect-field-option label {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding:0.25rem 0.75rem;
    margin: 0;
    color: #000;
    cursor: pointer;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.rjf-multiselect-field-option label:hover {
    background-color: #f3f3f3;
}
.rjf-multiselect-field-option.selected label {
    background-color: #fff8e2;
}
.rjf-multiselect-field-option.selected label:hover {
    background-color: #f5eed9;
}
.rjf-multiselect-field-option.disabled label {
    cursor: not-allowed;
    background-color: #fff;
}
.rjf-multiselect-field-option label > input[type="checkbox"] {
    width: auto;
    min-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.rjf-modal__main-body--open {
    overflow: hidden;
}
.rjf-modal__overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.25);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: auto;
}
.rjf-modal__dialog {
    max-width: 700px;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5rem;
    position: relative;
    width: auto;
    pointer-events: none;
    outline: none;
    border: none;
}
.rjf-modal__content {
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 16px rgba(0,0,0,.25);
    pointer-events: auto;
}
.rjf-modal__header {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #f6f6f6;
}
button.rjf-modal__close-button {
    float: right;
    color: #ff006c;
    border-color: #ff006c;
    position: relative;
    padding: 0.3rem 0.58rem;
    font-weight: bold;
}
.rjf-modal__close-button span {
    pointer-events: none;
}
button.rjf-upload-modal__tab-button--active,
button.rjf-upload-modal__tab-button--active:hover {
    background-color: #0ff;
    border-color: #000;
}
.rjf-upload-modal__media-load-button {
    display: table;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
.rjf-modal__body {
    padding: 15px;
}
.rjf-modal__body h3 {
    font-size: 1.2rem;
}
.rjf-modal__footer {
    padding: 15px;
    display: table;
    width: 100%;
    text-align: right;
}
.rjf-loader.rjf-upload-modal__media-loader {
    width: 2.2em;
    height: 2.2em;
    border-width: 5px;
    display: block;
    margin: auto;
    margin-top: 2.5rem;
}